/* Navigation */
#main-nav ul,
#main-nav .logo {
  justify-self: center;
}
#main-nav ul li a {
  padding: 0.50rem;
}
.sizing {
  margin-left: 5px;
  margin-right: 5px;
}
#showcase {border-top: 7px solid #fff;}
#main {
  display: block;
}
.sideav {
  display: none;
}
.left-main {
  width:100%;
}
#main-nav ul li #edge {
  padding-right: 4px;
}
@media(max-width: 600px) {
  /* Stack Grid Items */
  #main-nav ul li #edge {
    padding-right: 4px;
  }
  #main {
    display: block;
  }
  .sideav {
    display: none;
  }
}
/* Big tablet to 1200px (widths smaller taht the 1140px row) ****/
@media only screen and (max-width: 1200px) {
  .row { padding: 0 2%; }
}
/* Small tablet to big tablet: from 768px to 1023px ****/
@media only screen and (max-width: 1023px) {
  body { font-size: 18px; }
  section {
       padding: 60px 0;
       margin: 0 30px;
       }
  .icon-small { 
      width: 17px;
      margin-right: 5px;
  }
  .contact-form { width: 80%; }

  .whole-row{
      margin-left: 0px;
    }
}
/* Small phones to small tablets: from 481px to 767px ****/
@media only screen and (max-width: 767px) {
  #main-nav ul li #edge {
    padding-right: 2px;
  }
  .row,
  .col { 
      width: 100%;
      margin: 0 0 4% 0;
  }
  #main {
    display: block;
  }
  .sideav {
    display: none;
  }
}
/* Small phones: from 0 to 480px ****/
@media only screen and (max-width: 480px) {
  #main-nav ul li #edge {
    padding-right: 4px;
  }
  section { padding: 25px 0; }
  .contact-form {width: 100%; }
}
/* side navigation from 0 to 450px ****/
@media screen and (max-height: 450px) {
  #main-nav ul li #edge {
    padding-right: 2px;
  }
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* dashboard and articles pagefrom 0 to 767px ****/
@media (max-width: 767px){
  #main-nav ul li #edge {
    padding-right: 2px;
  }
  .main-grid{
      display: grid;
      grid-template-columns: 1fr;
  }
  .left-main{
      height: 35vh;
      padding: 20px 0px;
  }
  .left-main button{
    font-size: 18px;
}
}







