:root {
  --primary-color: #1786e2;
  --light-color: #eee;
  --dark-color: #333;
  --max-width: 1100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'lato','arial',sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  background: var(--light-color);
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  margin: .5rem 0;
}

img {
  width: 100%;
}

/* ----- HEADINGS ----- */
h1,
h2,
h3 {
  font-weight: 300;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  letter-spacing: 1px;
  text-align: center;
  padding-bottom: 30px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #1786e2;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}


h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

/* Utility */
.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.category {
  display: inline-block;
  color: #fff;
  font-size: 0.55rem;
  text-transform: uppercase;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}
.btn {
  display: inline-block;
  border: none;
  background:#180000;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border: 1px solid transparent;
  border-radius:0.3rem;
}
.btn-primary { background: var(--primary-color) }
.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}

.btn:hover {
  opacity: 0.9;
}

.card {
  background: #eee;
  padding: 1rem;
}

.bg-dark {
  background: var(--dark-color);
  color: #fff;
}

.bg-primary {
  background: var(--primary-color);
  color: #fff;
}
.list li {
  padding: .5rem 0;
  border-bottom: #555 dotted 1px;
  width: 90%;
}
.list li a:hover {
  color: var(--primary-color) !important;
}
/* Navigation */
#main-nav .logo
 {
  width: 150px;
  height: auto;
  margin-left: 100px;
}
#main .logo
 {
  width: 150px;
  height:auto;
  float:right;
  margin-right:70px;
  margin-top:10px;
}
.logo-align {
  text-align: left;
}
#main-nav ul li #edge {
  padding-right: 400px;
}
#main-nav{
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
  border-bottom: 7px solid #fff;
}

#main-nav ul {
  justify-self: end;
  display: flex;
}
#main-nav ul li a {
  padding: 0.5rem;
  padding: 8px;
}
#mySidenav .current ,
#main-nav ul li a.current
 {
  background-color:#1786e2;
  border-radius: 0.5rem;
}
#main-nav .social {
  justify-self: center;
}
/* Showcase */
#showcase {
  color: #fff;
  background: #333;
  padding: 2rem;
  position: relative;
}

#showcase:before {
  content: '';
  background: url('../img/featured.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

#showcase .showcase-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 60vh;
}
#showcase .showcase-content {
  z-index: 1;
}
#showcase .showcase-content p {
  margin-bottom: 1rem;
}
/* HOW IT WORKS SECTION */
.works-step {
  margin-bottom: 50px;
}
.steps-box img {
padding-left: 3rem;
}
.profile {
  width: 70px;
  float:left;
  color: #1786e2;
}
.profile-article {
  width: 200px;
  float:left;
  color: #1786e2;
}

.works-step:last-of-type {
  margin-bottom: 80px;
}

.works-step div {
  color: #1786e2;
  font-size: 150%;
  height: 54px;
  width: 54px;
  border: 2px solid #1786e2;
  border-radius: 50%;
  text-align: center;
  margin-right: 25px;
  float: left;
  padding: 5px;
}

.btn-img:link,
.btn-img:visited {
  border: 0;
}

.btn-img img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

/* Home Articles */
.home-art {
  background-color: #f3ffff;
  box-shadow:2px 3px #ccc;
}

.category {
  background-color: #1786e2;
}
.update {
  background-color:#1786e2;
  display: inline-block;
  color: #fff;
  font-size: 0.55rem;
  text-transform: uppercase;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}


#article .meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  padding: 0.5rem;
}

#article .meta .category {
  margin-top: 0.4rem;
}

/* Footer */
footer {
  background-color: #333;
  font-size: 80%;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited, 
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 100%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.ion-social-facebook:hover {
  color: #3b5998;
}

.ion-social-twitter:hover {
  color: #00aced;
}

.ion-social-googleplus:hover {
  color: #dd4b39;
}

.ion-social-instagram:hover {
  color: #1786e2;
}
footer p {
  color: #888;
  text-align: center;
}
.section-form {background: #eee;}

/* FORM */
.contact-form {
  width: 50%;
  margin: 0 auto; 
}
input[type=text],
input[type=password],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #1786e2;
}
textarea {
  height: 150px;
}

input[type=checkbox] {
  margin: 10px 5px 10px 0;
}

*:focus {outline: none;}
.whole-section-row {
  background-color: #fff;
}
/* 
article */
.sizing {
  margin-left: 120px;
  margin-right: 120px;
}
cite{color:#1786e2;}
.comment img {
  height: 50px;
  width: auto;
  border: transparent;
  border-radius: 50%;
}
.read-more a:link,
.read-more a:active,
.read-more a:visited 
{
color: #1786e2;
}
.comment,
.article-width  {
 margin-left: 20px;
 margin-right: 20px;

}
.bg-primary-article {
  background-color: #eee;
}
/* dropdown article */

/* Hide nested ul by default */
#drop ul li ul {
  display: none;
}

/* Nested dropdown show */
#drop ul li:hover ul {
  display: block;
  width: 100px;
  
}

#drop ul li:hover ul li {
  display: block;
  color: #fff;
background-color: #ddebece8;
  padding: 15px;
}
.next-articles{
  float:right;
  margin-right: 100px;
}
.next-articles a {
 color: rgb(27, 56, 221);
}


/* sides navbar ******/
.sidenav {
  height: 40%;
  width:0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #eee;
  overflow-x: hidden;
  transition: 0.4s;
  border-bottom: 3px solid #1786e2;
}
.sidenav a {
  padding: 8px;
  text-decoration: none;
  font-size: 15px;
  color: #000;
  display: block;
  transition: 0.3s;
  text-transform: uppercase;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 35px;
}
.sidenav .closebtn:hover {
  color: #c80505
}
#main {
  margin-left: 50px;
  transition: margin-left .5s;
  padding: 2px;
}
#main {
  display: none;
}

  /* dashboard ****** */
.strong-color {font-weight:900;}
.main-grid{
  background-color:  #ccc;
  display: grid;
  grid-template-columns: 18% 82%;
}
.left-main{
  height: 90vh;
  padding: 20px 0px;
}
.no-color {
  background-color: transparent;
  border: transparent
}
.left-main button a,
.left-main button{
  line-height: 40px;
  color: #000;
  width: 100%;
}
.left-main button.active{
  background-color: #1786e2;
}
.top-container{
  background-color: #eee;
}
#edit,
#readmore,
#Dashboard {
    display: none;
}
.user-page {
    margin-left: 40%;
}
.user-page a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
} 
.user-page a.active {
  background-color: #1786e2;
  color: white;
}
.user-page a:hover {
  background-color: #eee;
  color: #000;
}
/* about us */
.about-img-small {
  width: 40px;
}










.modal-content {
  position: relative;
  background-color: #fefefe;
  margin:0 auto;
  padding: 0;
  border: transparent;
  border-radius: 10px;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.3s
}
.modal-buttons{ margin-left: 50px;}
 /* Modal Header */
 .modal-header {
  padding: 2px;
  background-color: #1786e2;
  color: white;
  text-align: center;
  border-radius: 10px  0px;
}
/* Modal Body */
.modal-body {
  padding: 2px;
 
}
.modal-body{
 text-align: center;
 margin: 0 auto;
 padding: 10px;
 font-size: 18px;
}
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: black; 
  background-color: rgba(0,0,0,0.4); 
}
.close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: 300;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 
.custom-margin{
  margin:10px;
}









 
